h1 {
    text-align: center;
    margin-bottom: 2em;
}

.playfield {
    width: 400px;
    height: 400px;
    margin: auto;
    text-align: center;
    margin-bottom: 3em;
}

.playfield td,
.playfield tr {
    width: 33.3%;
    height: 33.3%;
}

.playfield td {
    border-right: 2px solid;
    border-bottom: 2px solid;
    font-size: 6em;
    text-align: center;
}

.playfield td:last-child {
    border-right: 0;
}

.playfield tr:last-child td {
    border-bottom: 0;
}

.gameOver {
    width: 300px;
    margin: auto;
    text-align: center;
}

#reset {
    font-size: 16px;
}